{% extends 'index.html' %}
{% load custom_filters %}

{% block material %}
    <h2>Alterar o Status Venda!</h2>
    <BR></BR>
    <p><strong>Cliente:</strong> {{ cliente }}</p>
    <p><strong>Serviço:</strong> {{ servico }}</p>
    <p><strong>Consumo:</strong> {{ consumo }} KWH</p>
    <p><strong>Valor do Empreendimento:</strong>{{ valor| formatar_valor }}</p>
<BR></BR>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
    </form>
{% endblock %}