{% extends 'index.html' %}


{% block material %}
    <h2>Alterar o Status venda</h2>
    
    <p><strong>Cliente:</strong> {{ cliente }}</p>
    <p><strong>Serviço:</strong> {{ servico }}</p>
    <p><strong>Consumo:</strong> {{ consumo }}</p>
    <p><strong>Valor do Empreendimento:</strong> R${{ valor|floatformat:2 }}</p>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
    </form>
{% endblock %}