{% extends 'index.html' %}
{% block subtitulo%} <h3> Relatorio de Vendas</h3>{% endblock %}
{% load custom_filters %}

{% block material %}
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 8px 12px;
            text-align: center;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        h2 {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <form method="get" action="{% url 'gerar_relatorio' %}">
        <button type="submit" name="export" value="true">Exportar para Excel</button>
    </form>
    <br>
    <Samp>Este relatorio apresenta o valor por tipo de Serviços de cada mes.</Samp>
    <table>
        <thead>
            <tr>
                <th>Tipo Serviços</th>
                <th>Janeiro</th>
                <th>Fevereiro</th>
                <th>Março</th>
                <th>Abril</th>
                <th>Maio</th>
                <th>Junho</th>
                <th>Julho</th>
                <th>Agosto</th>
                <th>Setembro</th>
                <th>Outubro</th>
                <th>Novembro</th>
                <th>Dezembro</th>
            </tr>
        </thead>
        <tbody>
            {% for tipo, meses in tipo_servico.items %}
                <tr>
                    <td>{{ tipo }}</td>
                    <td>{{ meses.Janeiro|formatar_valor }}</td>
                    <td>{{ meses.Fevereiro|formatar_valor }}</td>
                    <td>{{ meses.Março|formatar_valor }}</td>
                    <td>{{ meses.Abril|formatar_valor }}</td>
                    <td>{{ meses.Maio|formatar_valor }}</td>
                    <td>{{ meses.Junho|formatar_valor }}</td>
                    <td>{{ meses.Julho|formatar_valor }}</td>
                    <td>{{ meses.Agosto|formatar_valor }}</td>
                    <td>{{ meses.Setembro|formatar_valor }}</td>
                    <td>{{ meses.Outubro|formatar_valor }}</td>
                    <td>{{ meses.Novembro|formatar_valor }}</td>
                    <td>{{ meses.Dezembro|formatar_valor }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
